body{
background: url("background.jpg");
background-size: cover;
}
.heading{
    width: 95%;
    margin: 0px;
    border-radius: 20px;
    font-size: 25px;
    letter-spacing: 5px;
}
.note{
    font-size: 17px;
    letter-spacing: normal;
    color: red;
}
#speed_div{
    float: left;
}
.disk_image{
    width: 200px;
    border-radius: 50%;
}
.output{
    font-size: 20px;
}
#volume_div{
    float:right;
}
.play{
    font-size: 25px;
}
canvas{
    border: 5px double rebeccapurple;
    border-radius: 20px;
    
}